html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #6e9bcc;
  background: -moz-linear-gradient(-45deg, #6e9bcc 0%, #385266 100%);
  background: -webkit-linear-gradient(-45deg, #6e9bcc 0%,#385266 100%);
  background: linear-gradient(135deg, #6e9bcc 0%,#385266 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e9bcc', endColorstr='#385266',GradientType=1 );
}
#root {
	height: 100%;
}